ion-card {
    width: 18rem;
    height: 12rem;
    border-radius: 20px;
    text-align: center;
    box-shadow: none !important;
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.item .item-content {
    background-color: transparent !important;
}

.item-complex .item-content,
.item {
    background-color: rgb(255, 255, 255)
}

h1 {
    color: rgb(87, 87, 87);
    margin: 0;
    font-size: 1.5rem;
}

.notification {
    width: 20px;
    height: 20px;
    border-radius: 5rem;
    margin: .7rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

.order {
    background-color: salmon;
}

.pay {
    background-color: skyblue;
}

.service {
    background-color: rgb(255, 23, 216);
}