<ion-card (click)="acceptOrder()" [ngStyle]="{ '--background': doubleTapDetector ? 'coral' : 'white' }">
    <ion-grid>
        <ion-row class="ion-justify-content-between">
            <h2>{{ order.name }}</h2>
            <h2>{{ order.amount }}x</h2>
        </ion-row>
        <!-- <ion-row class="ion-justify-content-between">
            <p>{{ order.isAccepted }}€</p>
            <p>{{ order.isOrdered }}€</p>
            <p>{{ order.timestamp | date: "h:mm" }}</p>
        </ion-row> -->
    </ion-grid>
</ion-card>