<ion-content>
    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button (click)="onCloseModal()">
            <ion-icon name="close-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-grid>
        <ion-row>
            <ion-col>
                <h2>Tisch {{ table.tableNumber }}</h2>
            </ion-col>
        </ion-row>
        <!-- <ion-row class="ion-justify-content-center">
            <p class="heading">Bestellung aufnehmen</p>
        </ion-row> -->

        <ion-row>
            <ion-col>
                <p class="title" *ngIf="dishes.length > 0">Speisen:</p>
                <ion-list *ngFor="let order of dishes">
                    <app-order-card [order]="order"></app-order-card>
                </ion-list>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <p class="title" *ngIf="beverages.length > 0">Getränke:</p>
                <ion-list *ngFor="let order of beverages">
                    <app-order-card [order]="order"></app-order-card>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <p class="heading">
                Bisherige Rechnung: {{ bill | currency: "EUR":"symbol":"":"fr" }}
            </p>
        </ion-row>
    </ion-grid>
</ion-content>