<ion-content scrollY="true">
    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button (click)="onCloseModal()">
            <ion-icon name="close-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-grid>
        <ion-row class="ion-align-items-end">
            <h2>Tisch {{ table.tableNumber }}</h2>
        </ion-row>
        <br />
        <br />
        <ion-row>
            <ion-col size="10.66" offset=".66">
                <ion-button (click)="resetTable()">
                    <ion-label> Vorgang Abschließen und Gimig zurücksetzen</ion-label>
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="10.66" offset=".66">
                <ion-button id="secondary-color" (click)="onOpenCommunicationModal()">
                    <ion-label>Nachricht an Tisch senden</ion-label>
                </ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="5" offset=".66">
                <ion-row class="ion-justify-content-start">
                    <p class="heading">Speisen</p>
                </ion-row>

                <ion-list *ngFor="let order of food">
                    <app-order-card [order]="order"></app-order-card>
                </ion-list>
            </ion-col>
            <ion-col size="5" offset=".66">
                <ion-row class="ion-justify-content-start">
                    <p class="heading">Getränke</p>
                </ion-row>

                <ion-list *ngFor="let order of beverages">
                    <app-order-card [order]="order"></app-order-card>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <p class="info">
                Rechnung: {{ bill | currency: "EUR":"symbol":"":"fr" }}
            </p>
        </ion-row>
    </ion-grid>
</ion-content>
