p {
    // text-transform: uppercase;
    color: rgb(109, 109, 109);
    letter-spacing: 2px;
    font-size: 1rem;
}

h3 {
    letter-spacing: 2px;
    font-weight: 600;
    color: rgb(102, 102, 102);
}

.detail {
    margin: 0;
    margin-right: .5rem;
    padding: 0;
}

ion-icon {
    font-size: 1.2rem;
}

ion-card {
    border-radius: 20px;
    text-align: center;
    box-shadow: none !important;
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    --background: white;
}
