<ion-content>
    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button (click)="onCloseModal()">
            <ion-icon name="close-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-grid>
        <ion-row>
            <ion-col>
                <h2>Tisch {{ table.tableNumber }}</h2>
            </ion-col>
        </ion-row>
        <!-- <ion-row class="ion-justify-content-center">
            <p class="heading">Bestellung aufnehmen</p>
        </ion-row> -->
        <br />

        <ion-row>
            <ion-col>
                <p class="title" *ngIf="newDishes.length > 0">Neue Gerichte:</p>
                <ion-list *ngFor="let order of newDishes">
                    <app-order-card [order]="order" (click)="onDelete(order)"></app-order-card>
                </ion-list>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <p class="title" *ngIf="newBeverages.length > 0">Neue Getränke:</p>
                <ion-list *ngFor="let order of newBeverages">
                    <app-order-card [order]="order" (click)="onDelete(order)"></app-order-card>
                </ion-list>
            </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
            <ion-button (click)="acceptAll()" *ngIf="newDishes.length > 0 || newBeverages.length > 0">
                <ion-label> Bestellung annehemen</ion-label>
            </ion-button>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-button class="secondary" (click)="viewAll(table)" *ngIf="newDishes.length > 0 || newBeverages.length > 0">
                <ion-label> Gesamte Bestellung ansehen</ion-label>
            </ion-button>
        </ion-row>
        <!-- <ion-row class="ion-justify-content-center">
            <p class="heading">
                Rechnung: {{ bill | currency: "EUR":"symbol":"":"fr" }}
            </p>
        </ion-row> -->
    </ion-grid>
</ion-content>