<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="overview">
                <ion-icon name="copy-outline"></ion-icon>
                <ion-label>Home</ion-label>
            </ion-tab-button>

            <!-- <ion-tab-button tab="orders">
                <ion-icon name="list-outline"></ion-icon>
                <ion-label>Orders</ion-label>
            </ion-tab-button> -->

            <ion-tab-button tab="protocol">
                <ion-icon name="document-text-outline"></ion-icon>
                <ion-label>Protocol</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="settings">
                <ion-icon name="settings-outline"></ion-icon>
                <ion-label>Settings</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>
