<ion-content class="background">
    <ion-grid>
        <ion-row class="main-row">
            <ion-row class="title-row">
                <h1>Speisen</h1>
                <div class="vertical-divider"></div>
                <h2>Getränke</h2>
            </ion-row>
            <h3>{{ currentTime | date:'HH:mm:ss' }}</h3>
        </ion-row>
        <ion-row class="content-row">
            <ion-col>
                <p>Neue Bestellungen</p>
                <div class="order-item">
                    <ion-row>
                        <ion-row>
                            <p>Tisch 10</p>
                            <div class="vertical-divider"></div>
                            <p>2x Gemischter Beilagensalat</p>
                        </ion-row>
                        <ion-row class="end-row">
                            <p>vor 10min</p>
                            <div class="check-box">
                                <ion-icon name="checkmark-outline"></ion-icon>
                            </div>
                        </ion-row>
                    </ion-row>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
